<div class="background">
    <div class="pageTitle">
        <div class="meetupDetailsInfo">
            <h1>{{title}}</h1>
            <div>
                <p>Hosted by: {{ owner.name }}</p>
                <p>When: {{ date }}</p>
            </div>
        </div>
    </div>
    <div style="height: 500px;"></div>
</div>