<div class="navBar">
    <a class="navButton leftAlignNavButton" href="/">Home</a>
    {{#if profile}}
        <a class="navButton rightAlignNavButton" href="/logout">Logout</a>
        <a class="navButton rightAlignNavButton" href="/user">Profile</a>
    {{else}}
        <a class="navButton rightAlignNavButton" href="/login">Login</a>
    {{/if}}
</div>