<div class="columns">
    <div class="pageContent meetupsList">
        {{> upcomingMeetups}}
    </div>
    <div class="sportsList">
        <h1>Sports</h1>
        {{#each sports}}
        <a href="/meetups?sport={{letterFilter this}}">
            <div class="sportElement">
                <p>{{this}}</p>
                <img src="/images/{{letterFilter this}}.png" />
            </div>
        </a>
        {{/each}}
    </div>
</div>