<div class="identityHeader">
    <h1>New Meetup</h1>
</div>
<div class="pageContent">
    <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{csrf}}" />
        <div class="meetupMetaGroup">
            <!--Title-->
            <div class="formGroup titleField">
                <h2 class="labelHeader">
                    <label for="titleBox">Title</label>
                </h2>
                <input class="formField" type="text" name="title" id="titleBox" required />
            </div>
            <!--Sport-->
            <div class="formGroup metaField">
                <h2 class="labelHeader">
                    <label for="sportSelect">Sport</label>
                </h2>
                <select class="formField" name="sport" id="sportSelect" required>
                    <option>any</option>
                    {{#each sports}}
                    <option>{{letterFilter this}}</option>
                    {{/each}}
                </select>
            </div>
            <!--Date-->
            <div class="formGroup metaField">
                <h2 class="labelHeader">
                    <label for="datePicker">Date</label>
                </h2>
                <input class="formField" type="datetime-local" name="date" id="datePicker" required />
            </div>
        </div>
        <!--Description-->
        <div class="formGroup">
            <h2 class="labelHeader">
                <label for="descriptionBox">Description</label>
            </h2>
            <textarea class="formField descriptionField" name="description" id="descriptionBox"></textarea>
        </div>
        <div class="formGroup">
            <button class="button" name="submitButton" type="submit">Host meetup!</button>
        </div>
    </form>
</div>
