<div>
    <div class="identityHeader">
        <div class="profileImage">
            <img class="profileImage" src="{{user.profilePicture}}"/>
        </div>
        <div class="profileDetails">
            <h1>{{user.name}}</h1>
            <p>Contact info:<br />{{user.email}}</p>
        </div>
    </div>
</div>